.toast-container {
  margin: 10px;
  position: fixed;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* ^ starts with */
.toast-container[data-position^="top-"] {
  top: 0;
}

.toast-container[data-position^="bottom-"] {
  bottom: 0;
}

/* $ ends with */
.toast-container[data-position$="-right"] {
  right: 0;
}

.toast-container[data-position$="-left"] {
  left: 0;
}

.toast-container[data-position$="-center"] {
  left: 50%;
  transform: translateX(-50%);
}

.toast {
  box-sizing: border-box;
  padding: 0.75rem;
  background-color: white;
  border: 1px solid #333;
  border-radius: 0.25em;
  position: relative;
  cursor: pointer;
}

.toast::after {
  content: "\00D7";
  position: absolute;
  top: 2px;
  right: 5px;
}
